:root {
    --primary-dark: rgb(51,51,51);
    --primary-color-dark: rgb(153,1,0);
    --primary-color: rgb(185,5,4);
    --primary-light: rgb(246,246,246);
    --primary-less-light: rgb(232,232,232);
}
.outer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}

.inner_container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    margin-top: 3em;
    border: solid var(--primary-dark) 1em;
    border-radius: 1.25em;
}

.left_container {
    width: 30%;
    background-color: var(--primary-color-dark);
    color: var(--primary-light);
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_container {
    width: 70%;
    background-color: var(--primary-less-light);
    color: black;
    display: flex;
    justify-content: center;
}

/* Login Form css*/

.bootstrap-iso {
    width: 50%;
    padding-top: 3em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.submit-btn {
    margin-top: 0.5em;
    color: #fff;
    padding: 1em;
    background-color: var(--primary-color-dark);
    width: 100%;
    border: #fff 2px solid;
    border-radius: 1em;
}

.submit-btn:hover {
    color: #000;
    background-color: var(--primary-color);
    transition: all 0.3s ease-out;
}

.link {
    margin-top: 1rem;
    color: var(--primary-dark)
}

.link:hover {
    color: var(--primary-color)
}